<!-- Assuming the Resource is a User. And not Admin User.-->
<div class="container">
  <div class="omb_login">
    <h3 class="omb_authTitle">Forgot your password?</h3>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'omb_loginForm', autocomplete: 'off'} ) do |f| %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
            </div>
            <span class="help-block"></span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send me reset password instructions</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

