@import "bootstrap-sprockets";
@import "bootstrap";
@import "colorbox-rails";
/*Login Page*/
@import "font-awesome";
@import "login";  /*Used by login page, sign up page*/
@import "new-campaign"; /*Used by the start page*/
@import 'crowd-review';
@import 'colorbox'; /*Used for the slider in crowd review page*/
@import "campaign-slider";
@import "offcanvas"; /*Used by pages that render using the dahsboard layout, copied from here: http://getbootstrap.com/examples/offcanvas/*/
@import "jquery.dataTables";
@import "jquery.dataTables_themeroller";
@import "datatables.bootstrap";

.hero-unit {
  padding: 60px;
  margin-top: 60px; /*The margin is from the very top of the page i.e. body. The navbar has a height of 50px. In effect this creates a margin */
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  font-weight: bold;
}

.hero-unit h3 {
  font-size: 16pt;
  font-weight: normal;
}

.hero-unit {
  margin-top: 60px; /*The margin is from the very top of the page i.e. body. The navbar has a height of 50px. In effect this creates a margin */
}
.container.main {
  margin-top: 60px; /*Because navbar is 50px in height this makes sure content on each page starts 10 px below the navbar*/
}


