@import "bootstrap-sprockets";
@import "bootstrap";
@import "colorbox-rails";
/*Login Page*/
@import "font-awesome";
@import "login";  /*Used by login page, sign up page*/
@import "new-campaign"; /*Used by the start page*/
@import 'crowd-review';
@import 'colorbox'; /*Used for the slider in crowd review page*/
@import "campaign-slider";


.container.main {
  margin-top: 60px;
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  font-weight: bold;
}

.hero-unit h3 {
  font-size: 16pt;
  font-weight: normal;
}

