@import "bootstrap-sprockets";
@import "bootstrap";
@import "colorbox-rails";
/*Login Page*/
@import "font-awesome";
@import "login";  /*Used by login page, sign up page*/



.container.main {
  margin-top: 60px;
}

a.vote {
  text-decoration: none;
  font-size: 20pt;
}

.post1 {
  margin: 3em auto;
  width: 700px;
  p.title {
    font-weight: bold;
  }
}

.post {
  margin: auto;
  width: 870px;
  margin-bottom: 20px;

  .blah {
    border: 1px solid #e0e0e0;
    margin-left: 50px;

    .image {
      margin: 0 20px 0 0;
      padding: 0;
      width: 284px;
      height: 160px;
      float: left;
      overflow: hidden;
    }

    .info {
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      .title {
        font-weight: bold;
        font-size: 13pt;
      }
      .description {
        font-size: 12pt;
        line-height: 18pt;
      }
    }

    .comments {
      margin-top: 20px;
      margin-right: 20px;
    }
  }
  .votes {
    padding-top: 10px;
    float: left;
    width: 50px;
    text-align: center;
  }
  .vote {
    font-weight: bold;
  }

}

.blah:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }

.post-comments::-webkit-scrollbar {
  -webkit-appearance: none;
}

.post-comments::-webkit-scrollbar:vertical {
  width: 11px;
}

.post-comments::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.post-comments::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.post-comments {
  overflow-y: scroll;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.new-comment {
  margin-top: 20px;
}

.post-detail {
  margin-top: 10px;
  .votes {
    font-weight: bold;
    text-align: right;
  }

  .right-side {
  }

  .title {
    font-weight: bold;
  }

  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .description {
    margin-top: 10px;
  }

  .comment {
    margin-bottom: 10px;
    img {
      margin: 4px 4px 0 0;
    }
  }
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  font-weight: bold;
}

.hero-unit h3 {
  font-size: 16pt;
  font-weight: normal;
}

