.cr-card {
  margin-bottom: 20px;
  .upvote {
    width: 40px;
    a {
      display: block;
      text-decoration: none;
      font-size: 20pt;
    }
    font-weight: bold;
    text-align: center;
  }
  .campaign-info {
    height: 200px;
    -moz-box-shadow: 0 0 10px #eee;
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
    height: 200px; /*make each card exactly same height*/
    padding: 0;
    .featured-image {
      float: left;
      img {
        height: 200px; /*if for any reason the image is bigger, we do not want it to overflow.*/
        width: 288px;
      }
    }
    .description {
      float: left;
      max-width: 550px; /*todo without this the description div moves to next line, haven't figured out why. Might be insightful to understand why this happens.*/
      padding-left: 10px;
      h3.campaign-title {
        margin-top: 10px;
      }
      .excerpt {
        margin-bottom: 20px;
        height: 80px;
        overflow: hidden;
        text-align:justify;
      }
      .comments {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .featured-image {
    display: none;
  }
}

.campaign-info:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
