.cr-card{
  -moz-box-shadow: 0 0 10px #eee;
  -webkit-box-shadow: 0 0 10px #eee;
  box-shadow: 0 0 10px #eee;
  height: 160px; /*make each card exactly same height*/
  .upvote-and-featured-image{
    position: relative;
  }
  .upvote{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    a{
      display: block;
      text-decoration: none;
      font-size: 20pt;
    }
    font-weight: bold;
    text-align: center;
  }
  .featured-image{
    position: absolute;
    left: 40px;
    top: 0;
    img{
      height: 160px; /*if for any reason the image is bigger, we do not want it to overflow.*/
    }
  }
  .campaign-info{
    height: 160px;
    h2.campaign-title{
      margin-top: 0;
    }
    .excerpt{
      margin-bottom: 20px;
      height: 70px;
      overflow: hidden;
    }
    .comments{
      margin-right: 20px;
    }
  }
}
@media (max-width: 1200px) {
  .featured-image {
    display: none;
  }
}
.cr-card:hover{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
