<!-- see http://getbootstrap.com/examples/offcanvas/# and  http://blogs.telerik.com/kendoui/posts/13-11-05/creating-a-rwd-off-canvas-layout-with-bootstrap-3 -->
<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-md-3 col-sm-3 col-xs-6 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <a class="list-group-item active" href="<%= user_campaigns_path %>">Campaigns</a>
    </div>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <p class="pull-left visible-xs">
      <button type="button" class="btn btn-primary btn-xs glyphicon glyphicon-align-justify" data-toggle="offcanvas"></button>
    </p>
    <%= yield %>
  </div>
</div>